<% layout('boilerplate.ejs') %>
<form action="/login" method="post">
    <div class="mb-3">
        <h3>Login</h3>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good
        </div>
    </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>
